*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#1b001f,#3b0a45,#ff4fa3);
height:100vh;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.page{
display:none;
width:100%;
height:100vh;
justify-content:center;
align-items:center;
padding:20px;
animation:fade .8s ease;
}

.page.active{
display:flex;
}

.glass{
width:90%;
max-width:430px;
padding:35px;
border-radius:25px;
background:rgba(255,255,255,.12);
backdrop-filter:blur(18px);
box-shadow:0 10px 40px rgba(0,0,0,.4);
text-align:center;
}

h1{
font-size:34px;
margin-bottom:18px;
}

h2{
font-size:28px;
margin-bottom:18px;
}

h3{
margin-top:25px;
color:#ffd4ea;
}

p{
font-size:18px;
line-height:1.8;
margin-bottom:25px;
}

ul{
text-align:left;
margin:25px;
font-size:18px;
line-height:2;
}

button{
background:#ff4fa3;
color:white;
border:none;
padding:15px 35px;
border-radius:50px;
font-size:18px;
cursor:pointer;
margin:10px;
transition:.3s;
}

button:hover{
transform:scale(1.08);
background:#ff2f8d;
}

.hearts::before,
.hearts::after{
content:"❤️";
position:fixed;
font-size:26px;
animation:float 10s linear infinite;
opacity:.5;
}

.hearts::after{
left:80%;
animation-delay:5s;
}

@keyframes float{

0%{
transform:translateY(100vh);
}

100%{
transform:translateY(-120vh);
}

}

@keyframes fade{

from{
opacity:0;
transform:scale(.9);
}

to{
opacity:1;
transform:scale(1);
}

}
